
body{
    background-color: #f0e68c;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 0%;
    margin: 0%;
    }

    header{
     background: url(../Imagens/grão\ de\ café.jpeg) no-repeat center center;
     background-size: cover;
     padding: 50px;
     height: 300px;
     display: flex;

    

    }
    
    .quadrado{
      background-color: black;
      padding: 50px;
      height: 100px;
      width: 700px;
      margin: auto;
      color: #fff;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 35px;
      opacity: 85%;
  
     
     
    }

    .titulo-visita{
        color: gray;
        font-size: 20px;
        height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .titulo-chegue{
        color: black;
        font-size: 40px;
        height: 10px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
   .titulo-funcionamento{
        color: gray;
        font-family: Arial, Helvetica, sans-serif;
        height: 20px;
    }

    .titulo-horario1{
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-size: 100%;
       margin: auto;
    }

    .titulo-horario2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: auto;
    }

    .titulo-horario3{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        margin: auto;
        
    }

    .titulo-endereco{
       font-family: Arial, Helvetica, sans-serif;
       color: gray;
       font-size: 100%;
       margin: auto;
    
    }
.titulo-produto{
    color: black;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo-contato{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 100%;
    margin: auto;
   
}

.titulo-telefone{
    background-color: black;
    
}





.mapBox iframe{
    width: 100%;
    height: 100%;
}
.titulo-cidade{
    font-size: 20px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
   .item h1{
    text-align: center;
   }

   .item h2{
    text-align: center;
   }


   .item{
    font-weight: 15px;
    color: black;
   font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: left;
    margin:100px;
    text-align: center;
   
}

.linha1{
    color: #fff;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    

}


    .topo{
    text-align: center;
    background-color: #6F4242;
    padding: 30px;
    
    }
    .topo h1{
    font-size: 50px;
    }
    .menuTopo{
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    position: sticky;
    top: 10px;
    }
    
    .menuTopo ul{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin:0;
    
    
    }
    
    .menuTopo ul li{
    float: left;
    }
    
    .menuTopo a{
        display: block;
        color:#ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float: right;
        border-radius: 2px;
        margin: 5px;
    }
    .menuTopo a:hover{
    background-color:null;
    color:null;
    font-weight: bold;
    
    }
    
    .corpo{
        width: 1024px;
        background-size: cover;
        margin: 60px auto;
        background-color: #333;
    }
    
    .corpo::after{
    display: table;
    clear: both;
    content: "";
    
    }
    
    .linha
    {
        display: flex;
        justify-content: center;
        background-color: #fff;
    }
    
    .item{
        width: 600px;
    }
    .esquerda{
    width: 75%;
    float: left;
    background-color: #fff;
    }
    
    .direita{    
    width: 25%;
    float: left;
    background-color: #fff;
    padding: 5px;
    }
    
 
    
    