@import url(base.css);
header {
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-principal);
    padding: 0.7rem 6rem;
    display: flex;
}
header img{
    width: 200px;   
}
.logo{
    display: block;
    align-items: center;
}

main{
    flex: 1;
    display: flex;
    width: 100%;
}

footer .linha{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
footer .item{
    width: 400px;
    color: white;
}
footer p{
    color: #fff;
  }

.flex-container{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
   .produto{
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
   }
   .produto img{
    border-bottom: 5px solid rgb(204, 204, 204);
    height: 600px;
    width: 600px;
    padding: 20px;
    clip-path: circle(385px);
   }

   .produto p{ 
    text-align: start; 
    margin-top: 5%;
   }

   .nome_produto{
    font-size: 300%;
   
   }
   .descricao{
    font-size: 200%;
    word-break: ;
   }
   