@import url(base.css);
header {
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-principal);
    padding: 0.7rem 6rem;
    display: flex;
}
header img{
    width: 100px;
}
main{
    flex: 1;
    display: flex;
}
footer .linha{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
footer .item{
    width: 400px;
}
