@import url(base.css);
header {
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-principal);
    padding: 0.7rem 6rem;
    display: flex;
    }
header img{
    width: 100px;
}
.logo{
    margin: 5px;
    float: left;
}

main{
    flex: 1;
    display: flex;
    width: 100%;
}

footer .linha{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
footer .item{
    width: 400px;
    color: white;
}
footer p{
    color: #fff;
  }

.flex-container{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
   .produto{
    background-color: rgb(187, 132, 69);
    border: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px ;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
   }
   .fotos{
       margin-top: 1%;
       margin-left: 40px;
       margin-right:40px ;  
       position: relative;
   }
   .caixa{
    position: absolute; /* Permite que a caixa de texto fique sobre a imagem */
    bottom: 50%; /* Espaçamento da parte inferior da imagem */
    left: 40%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para centralizar perfeitamente */
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    color: white; /* Cor do texto */
    padding: 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    text-align: center; /* Centraliza o texto dentro da caixa */
    z-index: 10; /* Garante que a caixa fique na frente da imagem */
   }
.caixa-m{
   position: absolute; /* Permite que a caixa de texto fique sobre a imagem */
   bottom: 30%; /* Espaçamento pra baixa ou levantar o texto*/
   left: 60%; /* Centraliza horizontalmente */
   transform: translateX(-60%); /* Ajusta a posição para centralizar perfeitamente */
   background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
   color: white; /* Cor do texto */
   padding: 15px; /* Espaçamento interno */
   border-radius: 5px; /* Bordas arredondadas */
   text-align: center; /* Centraliza o texto dentro da caixa */
   z-index: 10; /* Garante que a caixa fique na frente da imagem */
   }

   .carro{
    margin-top: 10%;

   }