@import url(base.css);
header {
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-principal);
    padding: 0.7rem 6rem;
    display: flex;
}
header img{
    width: 100px;
}
main{
    flex: 1;
    display: flex;
}

footer .linha{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
footer .item{
    width: 400px;
}

section{
    background-image: url('../IMAGENS/Design\ sem\ nome\ \(3\).png');
    background-size: cover;
    background-repeat: no-repeat;
}
.caixa{
    border: 0px #000 solid ;
    margin-left: 180px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
   }
   
