@import url(base.css);

header {
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-principal);
    padding: 0.7rem 6rem;
    display: flex;
    position: sticky;
}

header .pagina {
    font-size: 30px;
}

header img {
    width: 120px;
}

main {
    flex: 1;
    display: flex;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

.menu a:hover {
    background-color: #706128;
    color: rgb(0, 0, 0);
}

.menu ul {
    display: flex;
}

.conteudo {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color: rgb(0, 0, 0)
}

.conteudo .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.conteudo .fundo_cafe {
    filter: grayscale(0.8);
}

.conteudo img {
    margin: 0 auto;
    border: rgb(126, 51, 8) 7px, ridge;
}

.conteudo .cafe_embalado img {
    width: 500px;
    height: auto;
    padding: 1px;
}

.conteudo .licor img {
    width: 500px;
    height: auto;
    padding: 1px;
}

.conteudo .cafe_embalado {
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
}

.conteudo .licor {
    display: flex;
    justify-content: space-around;
    margin-left: 20%;

}

.conteudo .texto {
    font-size: 50px;
    margin-top: 25%;
}