@import url(base.css);

header {
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-principal);
    padding: 0.7rem 6rem;
    display: flex;
}

header img {
    width: 100px;
}

main {
    flex: 1;
    display: flex;
}

.menu {
    flex-basis: 250px;
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    display: block;
}

.menu a:hover {
    background-color: #706128;
    color: rgb(0, 0, 0);
}

.conteudo {
    padding: 0px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    
}

.conteudo img {
    width: 100%;
    margin: 0 auto;
    border: black 3px solid;
}
.conteudo .texto{
    font-size: 80px;
    margin-top: 150px;
}
.conteudo div.cafe_embalado img {
    width: 500px;
    height: auto;
}

.conteudo .cafe_embalado  {
    display: flex;
    justify-content: space-around;
}

footer {
    flex: 0 0 auto;
    text-align: center;
    background-color: var(--cor-principal);
    padding: 20px;
}
.conteudo div.licor img {
    width: 500px;
    height: auto;
}
.conteudo .licor  {
    display: flex;
    justify-content: space-around;
}
.conteudo div.fundo_cafe{
    filter: grayscale(0.8);
}